# Merging Data Frames To Have Latitudes and Longitudes

In [34]:
Toronto.head()

  PostalCode                            Neighborhood      Borough
0        M1B                          Rouge, Malvern  Scarborough
1        M1C  Highland Creek, Rouge Hill, Port Union  Scarborough
2        M1E       Guildwood, Morningside, West Hill  Scarborough
3        M1G                                  Woburn  Scarborough
4        M1H                               Cedarbrae  Scarborough

### Ordering Columns

In [36]:
Toronto = Toronto[['PostalCode','Borough','Neighborhood']]
Toronto.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

### Getting the datat

In [38]:
import pandas as pd

In [39]:
file = pd.read_csv('https://cocl.us/Geospatial_data')

In [40]:
file.columns = ['PostalCode', 'Latitude', 'Longitude']

In [41]:
file.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

### Merging Data frames

In [28]:
neighborhoods.shape

(103, 5)

In [29]:
neighborhoods.head()

,PostalCode,Neighborhood,Borough,Latitude,Longitude
0,M1B,"Rouge, Malvern",Scarborough,43.806686,-79.194353
1,M1C,"Highland Creek, Rouge Hill, Port Union",Scarborough,43.784535,-79.160497
2,M1E,"Guildwood, Morningside, West Hill",Scarborough,43.763573,-79.188711
3,M1G,Woburn,Scarborough,43.770992,-79.216917
4,M1H,Cedarbrae,Scarborough,43.773136,-79.239476